extends ../_default

block content
   main.page-main
      .page-intro!= partial('../content/publications/intro.md')
      .page-content
         for topic in topics
            section.topic-section
               h2.h2.topic-title= topic.title
               ul.paper-list
                  for paper in topic.papers
                     li
                        h3.paper-title= paper.title
                        p= paper.authors
                        p= paper.journal



   //- ul.page-content.underline-on-hover-links.sites
   //-    for site in sites
   //-       li.site
   //-          .site-description
   //-             h2.h1.site-title=  site.title
   //-             if site.link
   //-                p.h2: a(href=site.link).arrow-link Live
   //-             else
   //-                p (offline)
   //-          a(href='/images/large/web/' + site.image, data-lightbox=site.title, data-title=site.title).site-image
   //-             img(src='/images/large/web/' + site.image)
            